<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">Backport Requests To <%= @target_branch.capitalize %></h3>
	</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">#</th>
        <th>Repository</th>
        <th>Title</th>
        <th>Merged</th>
      </tr>
    </thead>
    <tbody>
      <% @backport_requests.each do |backport_request| %>
        <tr>
          <td><%= link_to(backport_request.number, backport_request.html_url, :target => '_blank') %></td>
          <td><%= backport_request.repository_url.split('/').last %></td>
          <td><%= backport_request.title %></td>
          <td><%= time_ago_in_words_with_nil_check(backport_request.closed_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
