<div class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">MIQ Bot</a>
    <span class="navbar-brand"><%= application_version %></span>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Sidekiq", "/sidekiq") %></li>
      <% if grafana_url.present? %>
        <li><%= link_to("Grafana", grafana_url) %></li>
      <% end %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
          Backport Requests <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% Backporting::TARGET_BRANCHES.each do |branch| %>
            <li><a href="backport_requests?target_branch=<%= branch %>"><%= branch.capitalize %></a></li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
